/* declare global CSS variables */
:root {
    --header-menu-item-color: rgba(79, 49, 48, 0.95);
    --header-scroll-bg-color: rgba(70, 40, 40, 0.9);
    --header-border-color: rgba(255, 255, 255, 0.5);
    --header-responsive-menu-item-hover-color: rgba(0, 0, 0, 0.45);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", serif;
    text-decoration: none;
}

body {
    /* to make 1rem equals to 10px */
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: 0.3s ease;
    border-bottom: var(--header-border-color) 1px solid;
    /* TODO: increase padding */
    /* padding: 40px 0 40px 0; */
}

.header-scroll {
    background-color: var(--header-scroll-bg-color);
    /* TODO: decrease padding on scroll */
    /* padding: 0; */
}

header div.logo h2 {
    color: white;
    padding: 16px;
    font-family: "Stoke", serif;
    text-transform: capitalize;
    font-size: 2.3em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

header nav ul li {
    padding: 16px;
    transition: 0.3s ease;
}
header nav ul li:hover {
    cursor: pointer;
    background-color: var(--header-menu-item-color);
}

header nav ul li a {
    color: white;
    font-weight: 200;
    font-size: 1.8em;
}

header div.features {
    color: white;
}

header div.features i {
    padding: 16px;
    font-size: 1.6em;
}

header .responsive-menu i {
    color: white;
}

#responsive-menu-open,
#overlay-menu-close {
    padding: 0 32px;
    font-size: 1.6rem;
    color: white;
    display: none;
}

.responsive-menu-overlay {
    display: flex;
    align-items: center;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 64px;
    left: 0;
    right: 0;
    background-color: var(--header-scroll-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.responsive-menu-overlay .overlay-header {
    color: white;
    height: 6.4rem;
    font-size: 2.4rem;
    position: relative;
}

.responsive-menu-overlay .overlay-header i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px;
}

.responsive-menu-overlay .overlay-content {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

.responsive-menu-overlay .overlay-content li {
    padding: 32px 16px;
}

.responsive-menu-overlay .overlay-content li a {
    color: white;
    font-weight: 200;
    font-size: 2.2em;
    text-transform: uppercase;
}

.responsive-menu-overlay .overlay-content .features {
    padding: 32px 16px;
    display: flex;
    justify-content: center;
}

.responsive-menu-overlay .overlay-content .features i {
    padding: 16px;
    font-size: 1.8em;
    color: white;
    border-radius: 50%;
    transition: 0.3s ease;
}
.responsive-menu-overlay .overlay-content .features i:hover,
.responsive-menu-overlay .overlay-content .features i:focus {
    background-color: var(--header-responsive-menu-item-hover-color);
}

main {
    margin-top: 0;
    height: 1000px;
}

section.home-content img {
    width: 100%;
    object-fit: cover;
}

section.home-content-textinfo {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 200;
    font-size: 1.8em;

}

section div.textinfo-heading{
    border: 1px solid gray;
    text-transform: uppercase;
    padding: 5px;
}

/* responsive stylings */
@media screen and (max-width: 768px) {
    header nav,
    header div.features {
        display: none;
    }

    #responsive-menu-open,
    #overlay-menu-open {
        display: block;
    }
}

.grid {
    display: grid;
    grid-template-columns: 200px 100px 1fr;
    grid-template-rows: 100px 200px;
    place-items: center;
    background-color: coral;
}

.grid i {
    font-size: 2.4rem;
}

.flex-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
}

.flex-column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;
    width: 100%;
}
