/* declare global CSS variables */
:root {
    --header-menu-item-color: rgba(79, 49, 48, 0.95);
    --header-scroll-bg-color: rgba(0, 0, 0, 0.5);
    --header-border-color: rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", serif;
    text-decoration: none;
}

body {
    /* to make 1rem equals to 10px */
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: 0.3s ease;
    border-bottom: var(--header-border-color) 1px solid;
    padding: 40px 0 40px 0;
}

.header-scroll {
    background-color: var(--header-border-color);
    padding: 0;
}

header div.logo h2 {
    color: white;
    padding: 16px;
    font-family: "Stoke", serif;
    text-transform: capitalize;
    font-size: 2.3em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: capitalize;
}

header nav ul li {
    padding: 16px;
    transition: 0.3s ease;
}
header nav ul li:hover {
    cursor: pointer;
    background-color: var(--header-menu-item-color);
}

header nav ul li a {
    color: white;
    font-weight: 200;
    font-size: 1.8em;
}

header div.features {
    color: white;
}

header div.features i {
    padding: 16px;
    font-size: 1.6em;
}

header .responsive-menu i {
    color: white;
}

.responsive-menu-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    background-color: black;
    /* disable horizontal scroll */
    overflow-x: hidden;
    transition: 0.5s;
}

main {
    margin-top: 0;
    height: 1000px;
}

section.home-content img {
    width: 100%;
    object-fit: cover;
}

/* responsive stylings */
@media screen and (max-width: 768px) {
    header nav,
    header div.features {
        display: none;
    }
}

.grid {
    display: grid;
    grid-template-columns: 200px 100px 1fr;
    grid-template-rows: 100px 200px;
    place-items: center;
    background-color: coral;
}

.grid i {
    font-size: 2.4rem;
}

.flex-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
}

.flex-column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;
    width: 100%;
}
