/* declare global CSS variables */
:root {
    --header-menu-item-color: rgba(79, 49, 48, 0.95);
    --header-scroll-bg-color: rgba(70, 40, 40, 0.9);
    --header-border-color: rgba(255, 255, 255, 0.5);
    --header-responsive-menu-item-hover-color: rgba(0, 0, 0, 0.45);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kanit", serif;
    text-decoration: none;
}

body {
    /* to make 1rem equals to 10px */
    font-size: 62.5%;
}

/* header */
header {
    width: 100%;
    /* height: 64px; */
    height: 4rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: 0.3s ease;
    border-bottom: var(--header-border-color) 1px solid;
    /* TODO: increase padding */
    /* padding: 40px 0 40px 0; */
}

.header-scroll {
    background-color: var(--header-scroll-bg-color);
    /* TODO: decrease padding on scroll */
    /* padding: 0; */
}

header div.logo h2 {
    color: white;
    padding: 1rem;
    font-family: "Stoke", serif;
    text-transform: capitalize;
    font-size: 1.4rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

header nav ul li {
    padding: 1rem;
    transition: 0.3s ease;
}
header nav ul li:hover {
    cursor: pointer;
    background-color: var(--header-menu-item-color);
}

header nav ul li a {
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
}

header div.features {
    color: white;
}

header div.features i {
    padding: 1rem;
    font-size: 1.6em;
    user-select: none;
    cursor: pointer;
}

header .responsive-menu i {
    color: white;
}
/* header */

/* responsive-menu */
#responsive-menu-open,
#overlay-menu-close {
    padding: 0 32px;
    font-size: 1.6rem;
    color: white;
    display: none;
}

.responsive-menu-overlay {
    display: flex;
    align-items: center;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 64px;
    left: 0;
    right: 0;
    background-color: var(--header-scroll-bg-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.responsive-menu-overlay .overlay-header {
    color: white;
    height: 6.4rem;
    font-size: 2.4rem;
    position: relative;
}

.responsive-menu-overlay .overlay-header i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px;
}

.responsive-menu-overlay .overlay-content {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    /* top: 4rem; */
}

.responsive-menu-overlay .overlay-content li {
    padding: 32px 16px;
}

.responsive-menu-overlay .overlay-content li a {
    color: white;
    font-weight: 200;
    font-size: 2.2em;
    text-transform: uppercase;
}

.responsive-menu-overlay .overlay-content .features {
    padding: 32px 16px;
    display: flex;
    justify-content: center;
}

.responsive-menu-overlay .overlay-content .features i {
    padding: 16px;
    font-size: 1.8em;
    color: white;
    border-radius: 50%;
    transition: 0.3s ease;
}
.responsive-menu-overlay .overlay-content .features i:hover,
.responsive-menu-overlay .overlay-content .features i:focus {
    background-color: var(--header-responsive-menu-item-hover-color);
}
/* responsive-menu */

main {
    margin-top: 0;
}

section.home-content img {
    width: 100%;
    object-fit: cover;
}

section.home-content-textinfo {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 200;
    font-size: 1.8em;
}

section div.textinfo-heading {
    border: 1px solid gray;
    text-transform: uppercase;
    padding: 5px;
}

/* footer */
footer {
    padding: 2.5em;
    background-color: var(--header-menu-item-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.social-media {
    margin-bottom: 16px;
    text-align: center;
}

footer div.social-media i {
    cursor: pointer;
    font-size: 1.8em;
    margin: 0 8px;
    padding: 8px;
    border: white 1px solid;
    border-radius: 50%;
    transition: 0.3s ease;
}

footer div.social-media i:hover {
    background-color: var(--header-scroll-bg-color);
}

footer div.social-media a {
    color: white;
}

footer div.address {
    margin-bottom: 16px;
    text-align: left;
    font-size: 1.4em;
    font-weight: 200;
}

footer div.address > div {
    display: inline-block;
}

footer div.address i {
    font-size: 0.8em;
    padding: 8px 4px;
}

footer div.address a {
    font-weight: 200;
    color: white;
}
footer div.address a:hover {
    text-decoration: underline;
}

footer div.address hr {
    margin: 0.1em auto;
}

footer div.address p span.gap {
    padding-left: 12px;
    padding-right: 4px;
}

footer hr {
    width: 100%;
    margin-bottom: 16px;
}
/* footer */

/* responsive stylings */
@media screen and (max-width: 768px) {
    header nav,
    header div.features {
        display: none;
    }

    header div.logo h2 {
        font-size: 1.2rem;
    }

    #responsive-menu-open,
    #overlay-menu-open {
        display: block;
    }

    .home-content-textinfo {
        flex-direction: column;
    }

    .home-content-textinfo > div {
        margin-bottom: 1.2em;
    }

    .home-content-textinfo > div:last-child {
        margin-bottom: 0;
    }

    footer div.address > div {
        display: block;
        text-align: center;
    }

    footer div.address .gap {
        display: none;
    }
}
