section > p {
    padding: 32px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 200;
    font-size: 1.8em;
}

section > h1 {
    padding: 32px;
    background-color: rgba(79, 49, 48, 0.95);
    color: aliceblue;
    text-align: center;
    font-weight: 200;
    font-size: 2.2em;
}

.rowflex {
    display: flex; 
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 1.8em;
}

.column {
    float: left; width: 50%;
    padding: 2% 10%;
}

td {
    padding: 10px;
}
